<div id="container">
  <h1>Perfil</h1>
  <div id="caixa-perfil">
    <div *ngIf="usuario.id == usuarioLogado.id; else verPessoa" id="informacoes1">
      <div class="imgPerfil-perfil" [ngStyle]="{'background-image': 'url(assets/img/' + usuario.foto + ')'}">
        <!--      <img src="assets/img/perfil.jpg" alt="Foto de perfil">-->
      </div>
      <div class="informacoes">
        <p><b>{{usuario.nome}}</b></p>
        <p><b>Email:</b> {{usuario.email}}</p>
        <div class="botoes">
          <i class="fa fa-spinner fa-spin"></i>
          <a (click)="showPopupUsuario(popupEditUsuario, true, null)">Editar perfil<img src="assets/img/icon-pen.png" alt="Editar perfil" class="icon-pen"></a>
          <a (click)="showPopupSenha(popupSenha, true, null)">Mudar senha<img src="assets/img/icon-pen.png" alt="Mudar senha" class="icon-pen"></a>
          <a (click)="desativarConta()">Desativar conta<img src="assets/img/icon-trash.png" alt="Desativar conta" class="icon-pen"></a>
        <!--<button (click)="showPopupUsuario(popupEditUsuario, true, null)">Editar</button>
        <button class="btn-excluir" (click)="desativarConta()">Desativar conta</button>-->
      </div>
      </div>
      <div id="popupEditUsuario" #popupEditUsuario>
        <form (ngSubmit)="f.form.valid && editarUsuario(popupEditUsuario, f, load)" #f="ngForm" novalidate class="form">
          <p class="labelFalsos">Foto do perfil:</p>
          <br>
          <label class="inputFiles foto" for="foto" [ngClass]="{
                  'is-invalid-label': f.submitted && !foto}">Selecionar imagem</label>
          <br>
          <input name="foto" id="upload" type="file"
                 required id="foto" aria-describedby="foto" placeholder="Selecione uma foto"
                 (change)="inputFotoFile($event)" accept="image/png, image/jpeg">
          <div id="preview"></div>
          <br>
          <label for="nome">Nome:</label>
          <br>
          <input [(ngModel)]="usuarioForEdit.nome" name="nome" type="text" #nome="ngModel"
                 required id="nome" aria-describedby="nome" placeholder="Digite seu nome"
                 [value]="usuario.nome"
                 [ngClass]="{
                  'is-invalid': f.submitted && nome.invalid}">
          <div *ngIf="nome.invalid && f.submitted">
            <p class="text-invalid">O nome do usuário é obrigatório!</p>
          </div>
          <br>
          <label for="email">Email:</label>
          <br>
          <input [(ngModel)]="usuarioForEdit.email" name="email" type="text" #email="ngModel"
                 required id="email" aria-describedby="email" placeholder="Digite seu email"
                 [value]="usuario.email"
                 [ngClass]="{
                  'is-invalid': f.submitted && email.invalid}">
          <div *ngIf="email.invalid && f.submitted">
            <p class="text-invalid">O email do usuário é obrigatório!</p>
          </div>
          <br>
          <button type="submit" class="btn-cadastrar">Editar</button>
          <button type="reset" (click)="showPopupUsuario(popupEditUsuario, false, f)" class="btn-voltar">Voltar</button>
        </form>
      </div>
      <div id="popupEditSenha" #popupSenha>
        <form (ngSubmit)="f.form.valid && editarSenha(popupSenha, f, load)" #f="ngForm" novalidate class="form">
          <label for="oldSenha">Senha antiga:</label>
          <br>
          <input [(ngModel)]="senha.oldSenha" name="oldSenha" type="{{type}}" #oldSenha="ngModel"
                 required id="oldSenha" aria-describedby="oldSenha" placeholder="Digite a sua senha antiga"
                 [ngClass]="{
                  'is-invalid': f.submitted && oldSenha.invalid}">
          <div *ngIf="oldSenha.invalid && f.submitted">
            <p class="text-invalid">A senha é obrigatória!</p>
          </div>
          <br>
          <label for="newSenha">Senha nova:</label>
          <br>
          <input [(ngModel)]="senha.newSenha" name="newSenha" type="{{type}}" #newSenha="ngModel"
                 required id="newSenha" aria-describedby="newSenha" placeholder="Digite uma senha nova"
                 [ngClass]="{
                  'is-invalid': f.submitted && newSenha.invalid}">
          <div *ngIf="newSenha.invalid && f.submitted">
            <p class="text-invalid">A senha nova é obrigatória!</p>
          </div>
          <br>
          <label for="confirmSenha">Confirme a senha nova:</label>
          <br>
          <input [(ngModel)]="senha.confirmSenha" name="confirmSenha" type="{{type}}" #confirmSenha="ngModel"
                 required id="confirmSenha" aria-describedby="confirmSenha" placeholder="Confirme a senha nova"
                 [ngClass]="{
                  'is-invalid': f.submitted && confirmSenha.invalid}">
          <div *ngIf="confirmSenha.invalid && f.submitted">
            <p class="text-invalid">A confirmação da senha é obrigatória!</p>
          </div>
          <br>
          <input type="checkbox" class="ver-senha" (change)="verSenha()">
          <label class="ver-senha-label">Ver senha</label>
          <br>
          <button type="submit" class="btn-cadastrar">Editar</button>
          <button type="reset" (click)="showPopup(popupSenha, false, f)" class="btn-voltar">Voltar</button>
        </form>
      </div>
    </div>
    <ng-template #verPessoa >
      <div id="informacoes2">
        <div class="imgPerfil-perfil" [ngStyle]="{'background-image': 'url(assets/img/' + usuario.foto + ')'}">
        </div>
        <div class="informacoes">
          <p><b>{{usuario.nome}}</b></p>
          <p><b>Email:</b> {{usuario.email}}</p>
          <div class="botoes">
            <a (click)="desativarConta()">Desativar conta<img src="assets/img/icon-trash.png" alt="Desativar conta" class="icon-pen2"></a>
            <!--<button (click)="showPopupUsuario(popupEditUsuario, true, null)">Editar</button>
            <button class="btn-excluir" (click)="desativarConta()">Desativar conta</button>-->
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <h1 style="margin-top: 20px">Livros</h1>
  <div id="caixa-livros">
    <div *ngIf="allLivros.length === 0; else temLivros">
      <h4>Sem livros publicados</h4>
    </div>
    <ng-template #temLivros class="livros">
      <div class="busca">
        <input type="text" id="txtBusca" placeholder="Pesquise aqui..." (input)="pesquisa($event)"/>
        <img src="assets/img/icon-pesquisa.webp" id="iconBusca" alt="Buscar"/>
      </div>
      <div id="livrosPrateleira">
        <div *ngIf="usuarioLogado.id == usuario.id; else verLivros">
          <div *ngFor="let livro of livros" id="livros-prateleira" (mouseleave)="showDropbox(dropbox, false)">
            <img src="assets/img/{{livro.capa}}" class="capa-livro" alt="Capa do livro {{livro.nome}}"
                 (click)="mudarParaLivro(livro)">
            <h5 class="tituloLivro" (click)="mudarParaLivro(livro)">{{livro.nome}}</h5>
            <img src="assets/img/icon-ops.png" id="iconOps" alt="Opções" (mouseenter)="showDropbox(dropbox, true)"/>
            <div class="dropbox" #dropbox (mouseleave)="showDropbox(dropbox, false)">
              <a (click)="baixarLivro(livro)">Baixar</a>
              <span class="line"></span>
              <a (click)="excluirLivro(livro)">Excluir</a>
            </div>
          </div>
        </div>
        <ng-template #verLivros>
            <div *ngFor="let livro of livros" id="livros-prateleira">
              <img src="assets/img/{{livro.capa}}" class="capa-livro" alt="Capa do livro {{livro.nome}}"
                   (click)="mudarParaLivro(livro)">
              <h5 class="tituloLivro" (click)="mudarParaLivro(livro)">{{livro.nome}}</h5>
              <img src="assets/img/{{returnInteresse(livro.status)}}" (click)="mudarInteresse(livro, marcador)" id="iconOps" #marcador alt="Interesse"/>
            </div>
        </ng-template>

      </div>
    </ng-template>
  </div>
  <div *ngIf="usuario.id == usuarioLogado.id">
    <button class="btn-add" (click)="showPopup(popupCad, true, null)">Adicionar novo livro +</button>
    <div id="popupCadLivro" #popupCad>
      <form (ngSubmit)="f.form.valid && cadastrarLivro(popupCad, f)" #f="ngForm" novalidate class="form">
        <p class="labelFalsos">Imagem da capa do livro:</p>
        <br>
        <label class="inputFiles capa" for="capa" [ngClass]="{
                  'is-invalid-label': f.submitted && !pdf}">Selecionar imagem</label>
        <br>
        <input name="capa" type="file"
               required id="capa" aria-describedby="capa" placeholder="Selecione a capa do livro"
               (change)="inputCapaFile($event)" accept="image/png, image/jpeg">
        <br>
        <p class="labelFalsos">PDF do livro:</p>
        <br>
        <label class="inputFiles pdf" for="pdf" [ngClass]="{
                  'is-invalid-label': f.submitted && !pdf}">Selecionar PDF</label>
        <br>
        <input name="pdf" type="file"
               required id="pdf" aria-describedby="pdf" placeholder="Selecione um aquivo PDF"
               (change)="inputPDFFile($event)" accept="application/pdf">
        <br>
        <label for="nome">Nome:</label>
        <br>
        <input [(ngModel)]="livro.nome" name="nome" type="text" #nome="ngModel"
               required id="nome" aria-describedby="nome" placeholder="Informe o nome do livro"
               [ngClass]="{
                  'is-invalid': f.submitted && nome.invalid}">
        <div *ngIf="nome.invalid && f.submitted">
          <p class="text-invalid">O nome do livro é obrigatório!</p>
        </div>
        <br>
        <label for="nome">Ano de publicação:</label>
        <br>
        <input [(ngModel)]="livro.ano_publi" name="ano_publi" type="number" min="0" #ano_publi="ngModel"
               required id="ano_publi" aria-describedby="ano_publi" placeholder="Informe a data de publicação"
               [ngClass]="{
                  'is-invalid': f.submitted && ano_publi.invalid}">
        <div *ngIf="ano_publi.invalid && f.submitted">
          <p class="text-invalid">O ano de publicação do livro é obrigatório!</p>
        </div>
        <br>
        <label for="nome">Número de páginas:</label>
        <br>
        <input [(ngModel)]="livro.num_pag" name="num_pag" type="number" min="0" #num_pag="ngModel"
               required id="num_pag" aria-describedby="num_pag" placeholder="Informe o número de páginas"
               [ngClass]="{
                  'is-invalid': f.submitted && num_pag.invalid}">
        <div *ngIf="num_pag.invalid && f.submitted">
          <p class="text-invalid">O número de páginas do livro é obrigatório!</p>
        </div>
        <br>
        <label for="nome">Autor(es):</label>
        <br>
        <input [(ngModel)]="livro.autor" name="autor" type="text" #autor="ngModel"
               required id="autor" aria-describedby="autor" placeholder="Informe o(s) autor(res)"
               [ngClass]="{
                  'is-invalid': f.submitted && autor.invalid}">
        <div *ngIf="autor.invalid && f.submitted">
          <p class="text-invalid">Os autores do livro são obrigatórios!</p>
        </div>
        <br>
        <label for="genero">Genêro(s):</label>
        <br>
        <input [(ngModel)]="livro.genero" name="genero" type="text" #genero="ngModel"
               required id="genero" aria-describedby="genero" placeholder="Informe o(s) genêro(s)"
               [ngClass]="{
                  'is-invalid': f.submitted && genero.invalid}">
        <div *ngIf="genero.invalid && f.submitted">
          <p class="text-invalid">Os genêros do livro são obrigatórios!</p>
        </div>
        <div class="class-concorda">
          <input type="checkbox" class="concorda" (change)="changeButton()"
                 [ngClass]="{
                  'is-invalid': f.submitted && !concorda}">
          <label class="concorda-label">Você concorda que ao cadastrar esse livro, será responsabilizado pelo mesmo.</label>
        </div>
        <br>
        <button type="submit" class="btn-cadastrar">Cadastrar</button>
        <button type="reset" (click)="showPopup(popupCad, false, f)" class="btn-voltar">Voltar</button>
      </form>
    </div>
  </div>
  <div class="load" #load>
    <p>Processando...</p>
  </div>
</div>

