*{
  text-align: center;
  border: none;
  font-family: Arial, SansSerif;
  color: white;
}
#container{
  margin-top: 1.5em;
}
.livros{
  text-align: center;
}
#caixa-livros{
  margin-top: 1.5em;
  background-color: #3E3E3E;
  padding: 1em;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}
#livrosPrateleira{
  width: 100%;
  text-align: center;
}
#livros-prateleira{
  position: relative;
  top: 0;
  display: inline-block;
  width: 13em;
  height: 18em;
  margin: 10px;
  background-color: #535353;
  border-radius: 10px;
  text-align: center;
  box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#livros-prateleira:hover{
  background-color: #595959;
  top:-4px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.capa-livro{
  width: 50%;
  height: 55%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.25);
}
.tituloLivro{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 20%;
  font-size: 16px;
}
.capa-livro{
  cursor: pointer;
}
.tituloLivro{
  cursor: pointer;
}
.statusLivro{
  padding-top: 10%;
}
.busca{
  position: relative;
  top: 0;
  background-color: #313131;
  border:solid 1px;
  border-radius:15px;
  width:300px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.busca:hover{
  top:-4px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#txtBusca{
  text-align: left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
}
#txtBusca:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
#iconBusca{
  border:none;
  height:5%;
  width:5%;
  font-weight:bold;
}
#iconOps{
  width: 8%;
  height: 8%;
  float: right;
  margin-right: 15px;
}
#iconOps:hover{
  cursor: pointer;
}

.dropbox{
  position: absolute;
  transition-duration: 0.4s;
  background-color: #1e1e1e;
  border-radius: 10px;
  margin-left: 85%;
  padding: 10px;
  z-index: 10;
  scale: 0.00001;
  opacity: 0.00001;
  transition: 0.4s;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.dropbox>a{
  margin: 5px;
  clear: both;
}

.line{
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
  border-bottom: #ffffff solid 1px;
}

.dropbox>a:hover{
  margin: 5px;
  clear: both;
  cursor: pointer;
}

.show {
  scale: 1;
  opacity: 1;
}
