*{
  text-align: center;
  border: none;
  font-family: Arial, SansSerif;
  color: white;
}
#container{
  margin-top: 1.5em;
}
#caixa-pessoas{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-color: #3E3E3E;
  padding: 1em;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}
.busca{
  position: relative;
  top: 0;
  background-color: #313131;
  border:solid 1px;
  border-radius:15px;
  width:300px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.busca:hover{
  top:-4px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*input{
  margin: 10px;
  background: #D9D9D9;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  height: auto;
  color: #000;
  transition-duration: 0.4s;

  box-shadow: 4px 4px 15px 4px rgba(0, 0, 0, 0.25);
}
input:focus{
  color: white;
  background-color: #4C4C4C;
  border: white 1px solid;
}*/
#txtBusca{
  text-align: left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
  margin: 0;
}
#txtBusca:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
#iconBusca{
  border:none;
  height:5%;
  width:5%;
  font-weight:bold;
}
.pessoas{
  margin-top: 20px;
}
.perfil-pessoas{
  margin: 20px;
  background-color: #535353;
  box-shadow: 4px 4px 15px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 10%;
  margin-left: 35%;
  margin-right: 35%;
  transition: 0.4s;
}
.img-perfil{
  width: 3em;
  height: 3em;
  margin-right: 10px;
  border-radius: 40px !important;
}
.perfil-pessoas:hover{
  cursor: pointer;
  background-color: #979797;
  scale: 1.2;
}
