<div id="container">
  <h1>Livro</h1>
  <div class="caixa-livros" *ngIf="livro.usuario.id == usuario.id; else VerLivro">
    <div class="informacoes-esquerda">
      <div class="capa-livro" [ngStyle]="{'background-image': 'url(assets/img/' + livro.capa + ')'}">
      </div>
      <div class="informacoes">
        <p class="titulo-livro"><b>{{livro.nome}}</b></p>
        <p><b>Autores: </b>{{livro.autor}}</p>
        <p><b>Ano de publicação: </b>{{livro.ano_publi}}</p>
        <p><b>Gênero: </b>{{livro.genero}}</p>
        <p><b>Número de páginas: </b>{{livro.num_pag}}</p>
        <p><b>Ultima atualização: </b>{{returnDate(livro.dt_ult_atualizacao)}}</p>
      </div>
    </div>
    <div class="informacoes-direita">
      <p><b>Downloads: </b>{{livro.num_download}}</p>
      <p class="avaliacao"><b>Avaliação: </b>{{livro.avaliacao}}</p>
    </div>
    <div class="botoes">
      <button (click)="showPopup(popupCad, true)">Editar</button>
      <button (click)="baixarPDF()">Baixar</button>
      <button class="btn-excluir" (click)="excluirLivro(livro)">Excluir</button>
    </div>
  </div>
  <ng-template #VerLivro>
    <div class="caixa-livros">
      <div class="informacoes-esquerda">
        <div class="capa-livro" [ngStyle]="{'background-image': 'url(assets/img/' + livro.capa + ')'}">
        </div>
        <div class="informacoes">
          <p class="titulo-livro"><b>{{livro.nome}}</b></p>
          <p><b>Autores: </b>{{livro.autor}}</p>
          <p><b>Ano de publicação: </b>{{livro.ano_publi}}</p>
          <p><b>Gênero: </b>{{livro.genero}}</p>
          <p><b>Número de páginas: </b>{{livro.num_pag}}</p>
          <p><b>Ultima atualização: </b>{{returnDate(livro.dt_ult_atualizacao)}}</p>
        </div>
      </div>
      <div class="informacoes-direita">
        <p><b>Downloads: </b>{{livro.num_download}}</p>
        <p class="avaliacao"><b>Avaliação: </b>{{livro.avaliacao}}</p>
        <p class="avaliar"><b>Avaliar</b></p>
        <p class="stars">
          <img class="star" #star1 src="assets/img/icon-star-vazio.png" (mouseenter)="MudaEstrela([star1], true)" (mouseleave)="preencherEstrelas()" (click)="avaliar(1)" alt="Uma estrela">
          <img class="star" #star2 src="assets/img/icon-star-vazio.png" (mouseenter)="MudaEstrela([star1, star2], true)" (mouseleave)="preencherEstrelas()" (click)="avaliar(2)" alt="Duas estrela">
          <img class="star" #star3 src="assets/img/icon-star-vazio.png" (mouseenter)="MudaEstrela([star1, star2, star3], true)" (mouseleave)="preencherEstrelas()" (click)="avaliar(3)" alt="Três estrela">
          <img class="star" #star4 src="assets/img/icon-star-vazio.png" (mouseenter)="MudaEstrela([star1, star2, star3, star4], true)" (mouseleave)="preencherEstrelas()" (click)="avaliar(4)" alt="Quatro estrela">
          <img class="star" #star5 src="assets/img/icon-star-vazio.png" (mouseenter)="MudaEstrela([star1, star2, star3, star4, star5], true)" (mouseleave)="preencherEstrelas()" (click)="avaliar(5)" alt="Cinco estrela">
        </p>
      </div>
      <div class="botoes">
        <button (click)="baixarPDF()">Baixar</button>
        <button [hidden]="btnHidden()" #btn (click)="mudarLido(btn)">Lido</button>
        <button *ngIf="usuario.permissao.id == 1" class="btn-excluir" (click)="excluirLivro(livro)">Excluir</button>
      </div>
    </div>
  </ng-template>
  <div class="comentarios">
    <h3>Comentários</h3>
    <div class="temComentario" *ngIf="comentarios.length > 0; else SemComentario">
      <table>
        <tr *ngFor="let comentario of comentarios">
          <td class="nome">{{comentario.usuario?.nome}}</td>
          <td class="texto">{{comentario.texto}}</td>
          <td class="data">{{comentario.dt_hr | date:'dd/MM/yyyy HH:mm'}}</td>
          <td *ngIf="comentario.usuario?.id == usuario.id" class="excluir"><img src="assets/img/icon-trash.png" alt="desatviar conta" class="icon-lixo" (click)="removeComentario(comentario.id)"></td>
        </tr>
      </table>
    </div>
    <ng-template #SemComentario>
      <h3>Sem comentários : (</h3>
      <div class="separador"></div>
    </ng-template>
    <h3>Adicionar comentário</h3>

    <form (ngSubmit)="addComentario(f)" #f="ngForm">
      <label>
        Comentário:
        <br>
        <br>
        <textarea name="text" maxlength="255" [(ngModel)]="comentario.texto"></textarea>
      </label>
      <br>
      <br>
      <button class="btn-comentar" type="submit">Enviar</button>
    </form>
  </div>
  <div id="popupCadLivro" #popupCad>
    <form (ngSubmit)="f.form.valid && editarLivro(popupCad)" #f="ngForm" novalidate class="form">
      <p class="labelFalsos">Imagem da capa do livro:</p>
      <br>
      <label class="inputFiles capa" for="capa">Alterar imagem</label>
      <br>
      <input name="capa" type="file"
             required id="capa" aria-describedby="capa" placeholder="Selecione a capa do livro"
             (change)="inputCapaFile($event)" accept="image/png, image/jpeg">
      <br>
      <p class="labelFalsos">PDF do livro:</p>
      <br>
      <label class="inputFiles pdf" for="pdf">Alterar PDF</label>
      <br>
      <input name="pdf" type="file"
             required id="pdf" aria-describedby="pdf" placeholder="Selecione um aquivo PDF"
             (change)="inputPDFFile($event)" accept="application/pdf">
      <br>
      <label for="nome">Nome:</label>
      <br>
      <input [(ngModel)]="livroForEdit.nome" name="nome" type="text" #nome="ngModel"
             required id="nome" aria-describedby="nome" placeholder="Informe o nome do livro"
             [ngClass]="{
                  'is-invalid': f.submitted && nome.invalid}">
      <div *ngIf="nome.invalid && f.submitted">
        <p class="text-invalid">O nome do livro é obrigatório!</p>
      </div>
      <br>
      <label for="nome">Ano de publicação:</label>
      <br>
      <input [(ngModel)]="livroForEdit.ano_publi" name="ano_publi" type="number" min="0" #ano_publi="ngModel"
             required id="ano_publi" aria-describedby="ano_publi" placeholder="Informe a data de publicação"
             [ngClass]="{
                  'is-invalid': f.submitted && ano_publi.invalid}">
      <div *ngIf="ano_publi.invalid && f.submitted">
        <p class="text-invalid">O ano de publicação do livro é obrigatório!</p>
      </div>
      <br>
      <label for="nome">Número de páginas:</label>
      <br>
      <input [(ngModel)]="livroForEdit.num_pag" name="num_pag" type="number" min="0" #num_pag="ngModel"
             required id="num_pag" aria-describedby="num_pag" placeholder="Informe o número de páginas"
             [ngClass]="{
                  'is-invalid': f.submitted && num_pag.invalid}">
      <div *ngIf="num_pag.invalid && f.submitted">
        <p class="text-invalid">O número de páginas do livro é obrigatório!</p>
      </div>
      <br>
      <label for="nome">Autor(es):</label>
      <br>
      <input [(ngModel)]="livroForEdit.autor" name="autor" type="text" #autor="ngModel"
             required id="autor" aria-describedby="autor" placeholder="Informe o(s) autor(res)"
             [ngClass]="{
                  'is-invalid': f.submitted && autor.invalid}">
      <div *ngIf="autor.invalid && f.submitted">
        <p class="text-invalid">Os autores do livro são obrigatórios!</p>
      </div>
      <br>
      <label for="genero">Genêro(s):</label>
      <br>
      <input [(ngModel)]="livroForEdit.genero" name="genero" type="text" #genero="ngModel"
             required id="genero" aria-describedby="genero" placeholder="Informe o(s) genêro(s)"
             [ngClass]="{
                  'is-invalid': f.submitted && genero.invalid}">
      <div *ngIf="genero.invalid && f.submitted">
        <p class="text-invalid">Os genêros do livro são obrigatórios!</p>
      </div>
      <br>
      <button type="submit" class="btn-cadastrar">Editar</button>
      <button type="button" (click)="showPopup(popupCad, false)" class="btn-voltar">Voltar</button>
    </form>
  </div>
</div>
